{# empty Twig template #}
{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
                <h1>Bienvenue</h1><h2>dans votre Tableau de Competences !</h2>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}