{# empty Twig template #}
{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
    <h1>
        Activites
        <small>liste</small>
    </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
                <h1>Bienvenue</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}