{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
        <h1>
            Formulaire d'ajout
            <small>Utilisateur</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Ajout</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" method="POST" action={{ path('utilisateur/new') }}>
                    <!-- text input -->
                    <div class="form-group">    
                      <label>Pseudo</label>
                      <input type="text" name="username" class="form-control" placeholder="Pseudo">
                    
                      <label>Mot de Passe</label>
                      <input type="password" name="motdepasse" class="form-control" placeholder="password">
                        
                      <label>Nom</label>
                      <input type="text" name="nom" class="form-control" placeholder="Nom">
                      
                      <label>Prénom</label>
                      <input type="text" name="prenom" class="form-control" placeholder="Prénom">
                      
                      <label>E-mail</label>
                      <input type="text" name="email" class="form-control" placeholder="email">
                        
                      
                    </div>
                    
                    <div class="form-group">
                      <div class="radio">
                        <label>Statut</label>
                        <label>
                          <input type="radio" name="eleve" value="true" checked>
                          Un(e) Élève
                        </label>
                        <label>
                          <input type="radio" name="professeur" value="false" checked>
                          Un Professeur
                        </label>
                        <label>
                          <input type="radio" name="visiteur" value="false" checked>
                          Un Visiteur
                        </label> 
                      </div>
                    </div>
                    
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                  </form>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
{% endblock %}