{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
        <h1>
            Formulaire d'ajout
            <small>Activites</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Ajouter une nouvelle activité</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" method="POST" action={{ path('activite') }}>
                    <!-- text input -->
                    <div class="form-group">    
                      <label>Date de Debut</label>
                      <input type="date"  id="debut" name="debut" class="form-control" placeholder="jj / mm / aa">
                      
                      <label>Duree</label>
                      <input type="text"  id="duree" name="duree" class="form-control" placeholder="jours/semaines/mois/années">
                      
                      <label>Libelle</label>
                      <input type="text"  id="libelle" name="libelle" class="form-control" placeholder="libelle">
                        
                      <label>Description</label>
                      <input type="text" id="description" name="description" class="form-control" placeholder="Description">

                      <div class="form-group">
                          <label>Competence(s) Associé(s)</label>
                            <select class="form-control">

                                {% for competence in competences %}
                                    <option> {{competences.getNom()}} - {{competences.getReference()}}</option>
                                {% endfor %}

                            </select>
                      </div>

                    </div>
            
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

                  </form>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
{% endblock %}