{% extends "layout.html.twig" %}

{% block content %}
    <section class="content-header">
        <h1>
            Erreur {{ codeErreur }}
        </h1>
    </section>

        <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">Erreur {{ codeErreur }}</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i>{{ MessageErreur }}</h3>
              <p>
               <a href="{{ path('/') }}">Retour a l'acceuil</a>
              </p>
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section><!-- /.content -->
{% endblock %}
