
{% extends "layout.html.twig" %}

{% block content %}
<section class="content-header">
    <h1>
        Professeurs
        <small>liste</small>
    </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Professeurs</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th style="width:60px;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for professeur in professeurs %}
                          <tr>
                            <th>{{ professeur.getNom }}</th>
                            <th>{{ professeur.getPrenom }}</th>
                            <th>{{ professeur.getEmail }}</th>
                            <th style="width:60px; text-align:center;" >
                                  <div class="btn-group">
                                      <button type="button" title="Modifier" class="btn btn-warning btn-flat" style="margin-right:5px;"><i class="fa fa-pencil" style="width:10px;"></i></button>
                                      <button type="button" title="Supprimer"  class="btn btn-danger btn-flat"><i class="fa fa-times"></i></button>
                                  </div>
                            </th>
                          </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}
