{% extends "layout.html.twig" %}

{% block content %}
<section class="content-header">
    <h1>
        Tableau des competences
    </h1>
        </section>
<?php

$snappy = new Pdf();
var_dump(get_class_methods($snappy));
?>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Eleves</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Activites</th>
                        {% for competence in competences %}
                        <th>{{ competence.getReference() }}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for activite in activites %}
                          <tr>
                            <th>{{ activite.getLibelle() }}</th>
                            {% for competence in competences %}
                                {# if competence.getId() activite.getId() #}
                                    <th>X</th>
                                {# else #}
                                    <th> </th>
                                {# endif #}
                            {% endfor %}
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
{% endblock %}
