
{% block content %}
<section class="content-header">
    <h1 style="text-align: center;"> BTS SERVICES INFORMATIQUES AUX ORGANISATIONS - SESSION    - TABLEAU DE COMPETENCES </h1>
    <h3>NOM et Prénom du candidat :</h3><h1>Parcours SLAM</h1><h3>N° du candidat :</h3>
</section>
<section class="content">
    <table border="1">
        <tr>
            <th></th>
            <th colspan="4"> Situations Obligatoires </th>
            <th colspan="54"> Competences mises en oeuvre </th>
        </tr>
        <tr>
            <td> Situations professionnelle(intitulé et liste des documents et productions associés)</td>
        {% for competence in competences %}
            <td> {{ competence.getReference - competence.getLibelle }} </td>
        {% endfor %}
        </tr>
    </table>
</section>
{% endblock %}