
{% block content %}
<section class="content-header">
    <h1 style="text-align: center;"> BTS SERVICES INFORMATIQUES AUX ORGANISATIONS - SESSION    - TABLEAU DE COMPETENCES </h1>
    <h3>NOM et Prénom du candidat :</h3><h1>Parcours SLAM</h1><h3>N° du candidat :</h3>
</section>
<section class="content">
    <tr>
        <th></th>
        <th> Situations Obligatoires </th>
        <th> Competences mises en oeuvre </th>
    </tr>
    <tr>
        <th> Situations professionnelle(intitulé et liste des documents et productions associés)</th>
        {% for competence in competences %}
            <th> {{ competence.getReference - competence.getLibelle }} </th>
        {% endfor %}
    </tr>

</section>